@font-face {
  font-family: playfair;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Black.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
body {
  margin: 0px;
  padding: 0px;
}
p {
margin: 4px;
padding: 0;
}

/* Hero styles */
#hero-div {
  height: 600px;
  background-image: url('../images/hero-image.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}
#tui-logo {
  position: relative;
  width: 20%;
  top: 40%;
  left: 40%;
  transform: translateY(-50%);
}
/* Main div */
#tree-left {
  width: 20%;
}
#text-win {
  position: relative;
  font-size: 24px;
  width: 40%;
  top: -100px;
  margin: auto;
  text-align: center;
  color: #0000CD;
  font-family: playfair;
}
#text-win > img {
  position: absolute;
  width: 20%;
}
.first-text {
  font-size: 24px;
  font-family: playfair;
}
.first-text, .second-text {
  color: white;
  padding-left: 10px;
}
.second-text {
  margin-top: 30px;
  font-family: poppins;
}
#explain-div {
  position: relative;
  width: 60%;
  margin: auto;
  background-color: #0000CD;
}
#brush-explain {
  position: absolute;
  width: 30%;
  z-index: 2;
}
#tree-bg{
  position: absolute;
  width: 100%;
  left: 0%;
  z-index: -1;
}
#total-text {
  padding: 15px;
}
#tree-right {
  position: absolute;
  right: -22%;
  top: -50px;
  width: 22%;
}
/* Carrusel */
#carrusel-div {
  width: 60%;
  position: relative;
  padding-top: 20px;
  margin: auto;
}
.mySlides > img {
  width: 100%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* End carrusel */
#coconuts {
  position: absolute;
  bottom: -5%;
  left: 82%;
  width: 20%;
}
#video-div {
  width: 60%;
  position: relative;
  padding-top: 40px;
  margin: auto;
}
#video-div > img {
  width: 100%;
}
/* Game */
#game-div {
  width: 100%;
  margin-top: 40px;
  position: relative;
}
#game-text {
  text-align: center;
  background-color: #D3D3D3;
  width: 100%;
}
#game-text > h2 {
  font-family: poppins;
  font-weight: bold;
}
#game-text > p {
  position: relative;
  left: 25%;
  width: 50%;
  padding-bottom: 20px;
  font-family: poppins;
}
#background-game {
  width: 100%;
}
#shadow {
  width: 100%;
}
#belt, #scale, #luggage, #weight, #kgholder, #win-text, #lost-text, #guest-the, #shadow {
  position: absolute;
}
#belt {
  width: 60%;
  top: 72.5%;
}
#scale {
  width: 30%;
  top: 225px;
  left: 60%;
  z-index: 2;
}
#luggage {
  width: 10%;
  -webkit-animation: luggagemove 10s ease-in-out forwards;
  bottom: 220px;
}
#weight {
  bottom: 3%;
  left: 60%;
  width: 30%;
  height: 50px;
  border:0px;
  padding:0px;
  font-size: 40px;
  font-weight: bold;
}
#kgholder {
 font-size: 30px;
 bottom: 3%;
 left: 87%;
 color: grey;
}
#submit {
  width: 30%;
  height: 40px;
  padding: 0px;
  border:0px;
  margin-left: 35%;
  margin-top: 50px;
  border-radius: 115px 115px 115px 115px;
  background-color: #0000CD;
  font-family: poppins;
  color: white;
}
#win-text, #lost-text {
  display: none;
  top: 240px;
  left: 40%;
  font-size: 36px;
}
#win-text {
  color: green;
}
#lost-text {
  color:red;
}
#guest-the {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  top: 23%;
  right: 9%;
}
#footer {
  background-color: #282828;
  height: 300px;
}

@-webkit-keyframes luggagemove {
  from {left: 0%;}
  to {left: 65%;}
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 1000px) {
  #scale {
    top: 295px;
  }
  #guest-the {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    top: 35%;
    right: 10%;
  }
  #tree-right {
    top: 30%;
    width: 30%;
    left: 100%;
  }
  #kgholder {
    left: 84%;
  }
  #luggage {
    bottom: 220px;
  }
}
